.document {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-gap: 15px;
    height: 100%;
}

.editor {
    font-family: 'Fira Code';
    font-size: 10pt;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
}

.preview {
    font-family: 'Fira Sans';
    font-size: 12pt;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    overflow-y: auto;
}