.task {
    display: grid;
    grid-template-columns: auto 24px;
    column-gap: 5px;
}

.box {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}

.taskName {
    font-family: "Itim";
    font-size: 14pt;
    width: 100%;
    border: none;
}

.deleteWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 0px;
    background-color: white;
    border: none;
}

.delete > svg:hover {
    fill: red;
}
