@font-face {
    font-family: 'Itim';
    src: url('Itim/Itim-Regular.ttf');
}

@font-face {
    font-family: 'Fira Sans';
    src: url('Fira_Sans/FiraSans-Regular.ttf');
}

@font-face {
    font-family: 'Fira Code';
    src: url('Fira_Code/FiraCode-Regular.ttf');
}

@font-face {
    font-family: 'Monaco';
    src: url('Monaco/Monaco.ttf');
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: 'Itim';
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, ul, p {
    margin: 10px 0 0 0;
}

ul {
    padding-left: 20px;
}

li {
    margin: 5px 0 5px 0;
}

code {
    font-family: 'Monaco';
    font-size: 90%;
    color: black;
    background-color: #EEE;
    border-radius: 5px;
    padding: 4px 2px 2px 2px;
}

pre {
    background-color: #EEE;
    border-radius: 5px;
    padding: 5px;
}

pre code {
    color: black;
    background-color: transparent;
}