.ellipse {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px; /* 112.5 */
    height: 150px; /* 75 */
    border: 3px solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
}