.superposition {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0, 0%, 0%, 0.75);
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.popup {
    position: relative;
    background-color: white;
    border: 5px solid black;
    border-radius: 25px;
    width: min(1440px, 85%);
    height: min(900px, 85%);
}

.navWrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 25px;
}

.label {
    display: inline;
    margin: 0;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
}

.closeWrapper {
    display: flex;
    justify-content: right;
    width: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    padding: 0px;
    background-color: transparent;
    border: none;
}

.close > svg:hover {
    fill: red;
}

.grid {
    font-family: "Itim";
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 5px;
    height: calc(min(1080px, 90%) - 75px);
}

.ioWrapper {
    background-color: white;
    padding: 0 20px 0 20px;
    overflow-y: auto;
}

.ioWrapper > span {
    font-size: 20pt;
}

.io {
    display: grid;
    grid-template-columns: 50% 50%;
}

.io > span {
    font-size: 20pt;
    display: inline-block;
}

.tasksWrapper {
    display: grid;
    margin: 10px 0 0 0;
    row-gap: 10px;
}

.addWrapper {
    display: flex;
    justify-content: right;
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 4px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

.add:hover {
    background-color: hsl(120, 75%, 75%);
}

.add:active {
    background-color: hsl(120, 75%, 80%);
}